@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization
@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@{
    var currentCulture = this.Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    var cultureItems = LocalizationOptions.Value.SupportedUICultures
        .Select(s => new SelectListItem
        {
            Value = s.Name,
            Text = s.DisplayName,
            Selected = currentCulture.Contains(s.Name)
        })
        .ToList();
}

<div>
    <select id="culture-selector" name="culture" class="form-control form-control-sm" asp-items="cultureItems" data-returnUrl="@Context.Request.Path"></select>
    @*
        <form method="post" class="form-inline" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path">
            <span>@currentCulture</span>
            <select name="culture" class="form-control form-control-sm" asp-items="cultureItems"></select>
            &nbsp;
            <button type="submit" class="btn btn-sm btn-info">@WebApplication.Resources.Shared.ChangeLanguage</button>
        </form>*@

</div>